html, body {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
}

.title {
    text-align: center;
    font-size: 78px;
}

.main-wrapper {
    position: relative;
    width: 100%;
    text-align: center;
}

.main {
    display: inline-block;
    text-align: left;
    font-size: 24px;
    margin: 0 auto 100px auto;
}

.footer-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 24px;
}

.footer {
    position: relative;
    left: -50%;
    font-size: 24px;
}